Mural Recados WS/ClienteMuralRecadosWS/xml-resources/web-service-references/RecadoWS/wsdl/localhost_8080/MuralRecadosWS/RecadoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.mural/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.mural/" name="RecadoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.mural/" schemaLocation="http://localhost:8080/MuralRecadosWS/RecadoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getApelidoRecado">
<part name="parameters" element="tns:getApelidoRecado"/>
</message>
<message name="getApelidoRecadoResponse">
<part name="parameters" element="tns:getApelidoRecadoResponse"/>
</message>
<message name="setTexto">
<part name="parameters" element="tns:setTexto"/>
</message>
<message name="setTextoResponse">
<part name="parameters" element="tns:setTextoResponse"/>
</message>
<message name="setApelidoRecado">
<part name="parameters" element="tns:setApelidoRecado"/>
</message>
<message name="setApelidoRecadoResponse">
<part name="parameters" element="tns:setApelidoRecadoResponse"/>
</message>
<message name="setCodigo">
<part name="parameters" element="tns:setCodigo"/>
</message>
<message name="setCodigoResponse">
<part name="parameters" element="tns:setCodigoResponse"/>
</message>
<message name="getTexto">
<part name="parameters" element="tns:getTexto"/>
</message>
<message name="getTextoResponse">
<part name="parameters" element="tns:getTextoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getCodigo">
<part name="parameters" element="tns:getCodigo"/>
</message>
<message name="getCodigoResponse">
<part name="parameters" element="tns:getCodigoResponse"/>
</message>
<portType name="RecadoWS">
<operation name="getApelidoRecado">
<input wsam:Action="http://service.mural/RecadoWS/getApelidoRecadoRequest" message="tns:getApelidoRecado"/>
<output wsam:Action="http://service.mural/RecadoWS/getApelidoRecadoResponse" message="tns:getApelidoRecadoResponse"/>
</operation>
<operation name="setTexto">
<input wsam:Action="http://service.mural/RecadoWS/setTextoRequest" message="tns:setTexto"/>
<output wsam:Action="http://service.mural/RecadoWS/setTextoResponse" message="tns:setTextoResponse"/>
</operation>
<operation name="setApelidoRecado">
<input wsam:Action="http://service.mural/RecadoWS/setApelidoRecadoRequest" message="tns:setApelidoRecado"/>
<output wsam:Action="http://service.mural/RecadoWS/setApelidoRecadoResponse" message="tns:setApelidoRecadoResponse"/>
</operation>
<operation name="setCodigo">
<input wsam:Action="http://service.mural/RecadoWS/setCodigoRequest" message="tns:setCodigo"/>
<output wsam:Action="http://service.mural/RecadoWS/setCodigoResponse" message="tns:setCodigoResponse"/>
</operation>
<operation name="getTexto">
<input wsam:Action="http://service.mural/RecadoWS/getTextoRequest" message="tns:getTexto"/>
<output wsam:Action="http://service.mural/RecadoWS/getTextoResponse" message="tns:getTextoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.mural/RecadoWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.mural/RecadoWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getCodigo">
<input wsam:Action="http://service.mural/RecadoWS/getCodigoRequest" message="tns:getCodigo"/>
<output wsam:Action="http://service.mural/RecadoWS/getCodigoResponse" message="tns:getCodigoResponse"/>
</operation>
</portType>
<binding name="RecadoWSPortBinding" type="tns:RecadoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getApelidoRecado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setTexto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setApelidoRecado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTexto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RecadoWS">
<port name="RecadoWSPort" binding="tns:RecadoWSPortBinding">
<soap:address location="http://localhost:8080/MuralRecadosWS/RecadoWS"/>
</port>
</service>
</definitions>