Mural Recados WS/ClienteMuralRecadosWS/xml-resources/web-service-references/UsuarioWS/wsdl/localhost_8080/MuralRecadosWS/UsuarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.mural/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.mural/">

<xs:element name="SetApelido" type="tns:SetApelido"/>

<xs:element name="SetApelidoResponse" type="tns:SetApelidoResponse"/>

<xs:element name="getApelido" type="tns:getApelido"/>

<xs:element name="getApelidoResponse" type="tns:getApelidoResponse"/>

<xs:element name="getId" type="tns:getId"/>

<xs:element name="getIdResponse" type="tns:getIdResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="setId" type="tns:setId"/>

<xs:element name="setIdResponse" type="tns:setIdResponse"/>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getId">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setIdResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getApelido">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getApelidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SetApelido">
<xs:sequence>
<xs:element name="apelidoUsuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SetApelidoResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>