Mural Recados WS/ClienteMuralRecadosWS/xml-resources/web-service-references/UsuarioWS/wsdl/localhost_8080/MuralRecadosWS/UsuarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.mural/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.mural/" name="UsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.mural/" schemaLocation="http://localhost:8080/MuralRecadosWS/UsuarioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getId">
<part name="parameters" element="tns:getId"/>
</message>
<message name="getIdResponse">
<part name="parameters" element="tns:getIdResponse"/>
</message>
<message name="getApelido">
<part name="parameters" element="tns:getApelido"/>
</message>
<message name="getApelidoResponse">
<part name="parameters" element="tns:getApelidoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="SetApelido">
<part name="parameters" element="tns:SetApelido"/>
</message>
<message name="SetApelidoResponse">
<part name="parameters" element="tns:SetApelidoResponse"/>
</message>
<message name="setId">
<part name="parameters" element="tns:setId"/>
</message>
<message name="setIdResponse">
<part name="parameters" element="tns:setIdResponse"/>
</message>
<portType name="UsuarioWS">
<operation name="getId">
<input wsam:Action="http://service.mural/UsuarioWS/getIdRequest" message="tns:getId"/>
<output wsam:Action="http://service.mural/UsuarioWS/getIdResponse" message="tns:getIdResponse"/>
</operation>
<operation name="getApelido">
<input wsam:Action="http://service.mural/UsuarioWS/getApelidoRequest" message="tns:getApelido"/>
<output wsam:Action="http://service.mural/UsuarioWS/getApelidoResponse" message="tns:getApelidoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.mural/UsuarioWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.mural/UsuarioWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="SetApelido">
<input wsam:Action="http://service.mural/UsuarioWS/SetApelidoRequest" message="tns:SetApelido"/>
<output wsam:Action="http://service.mural/UsuarioWS/SetApelidoResponse" message="tns:SetApelidoResponse"/>
</operation>
<operation name="setId">
<input wsam:Action="http://service.mural/UsuarioWS/setIdRequest" message="tns:setId"/>
<output wsam:Action="http://service.mural/UsuarioWS/setIdResponse" message="tns:setIdResponse"/>
</operation>
</portType>
<binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApelido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SetApelido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioWS">
<port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
<soap:address location="http://localhost:8080/MuralRecadosWS/UsuarioWS"/>
</port>
</service>
</definitions>