Mural Recados WS/ClienteMuralRecadosWS/xml-resources/web-service-references/MuralWS/wsdl/localhost_8080/MuralWS/MuralWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.mural/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.mural/">

<xs:element name="cadastrarRecado" type="tns:cadastrarRecado"/>

<xs:element name="cadastrarRecadoResponse" type="tns:cadastrarRecadoResponse"/>

<xs:element name="consultarRecado" type="tns:consultarRecado"/>

<xs:element name="consultarRecadoResponse" type="tns:consultarRecadoResponse"/>

<xs:element name="consultarRecados" nillable="true" type="tns:consultarRecado"/>

<xs:element name="consultarRecadosResponse" nillable="true" type="tns:consultarRecadoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="removerRecado" type="tns:removerRecado"/>

<xs:element name="removerRecadoResponse" type="tns:removerRecadoResponse"/>

<xs:complexType name="cadastrarRecado">
<xs:sequence>
<xs:element name="usuario" type="tns:usuarioWS" minOccurs="0"/>
<xs:element name="recado" type="tns:recadoWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuarioWS">
<xs:sequence>
<xs:element name="apelido" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recadoWS">
<xs:sequence>
<xs:element name="apelidoRecado" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cadastrarRecadoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removerRecado">
<xs:sequence>
<xs:element name="usuario" type="tns:usuarioWS" minOccurs="0"/>
<xs:element name="codigoRecado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removerRecadoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRecado">
<xs:sequence>
<xs:element name="usuario" type="tns:usuarioWS" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarRecadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:recadoWS" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>