Mural Recados WS/ClienteMuralRecadosWS/xml-resources/web-service-references/MuralWS/wsdl/localhost_8080/MuralWS/MuralWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.mural/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.mural/" name="MuralWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.mural/" schemaLocation="http://localhost:8080/MuralWS/MuralWS?xsd=1"/>
</xsd:schema>
</types>
<message name="removerRecado">
<part name="parameters" element="tns:removerRecado"/>
</message>
<message name="removerRecadoResponse">
<part name="parameters" element="tns:removerRecadoResponse"/>
</message>
<message name="consultarRecado">
<part name="parameters" element="tns:consultarRecado"/>
</message>
<message name="consultarRecadoResponse">
<part name="parameters" element="tns:consultarRecadoResponse"/>
</message>
<message name="consultarRecados">
<part name="parameters" element="tns:consultarRecados"/>
</message>
<message name="consultarRecadosResponse">
<part name="parameters" element="tns:consultarRecadosResponse"/>
</message>
<message name="cadastrarRecado">
<part name="parameters" element="tns:cadastrarRecado"/>
</message>
<message name="cadastrarRecadoResponse">
<part name="parameters" element="tns:cadastrarRecadoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="MuralWS">
<operation name="removerRecado">
<input wsam:Action="http://service.mural/MuralWS/removerRecadoRequest" message="tns:removerRecado"/>
<output wsam:Action="http://service.mural/MuralWS/removerRecadoResponse" message="tns:removerRecadoResponse"/>
</operation>
<operation name="consultarRecado">
<input wsam:Action="http://service.mural/MuralWS/consultarRecadoRequest" message="tns:consultarRecado"/>
<output wsam:Action="http://service.mural/MuralWS/consultarRecadoResponse" message="tns:consultarRecadoResponse"/>
</operation>
<operation name="consultarRecados">
<input wsam:Action="http://service.mural/MuralWS/consultarRecadosRequest" message="tns:consultarRecados"/>
<output wsam:Action="http://service.mural/MuralWS/consultarRecadosResponse" message="tns:consultarRecadosResponse"/>
</operation>
<operation name="cadastrarRecado">
<input wsam:Action="http://service.mural/MuralWS/cadastrarRecadoRequest" message="tns:cadastrarRecado"/>
<output wsam:Action="http://service.mural/MuralWS/cadastrarRecadoResponse" message="tns:cadastrarRecadoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.mural/MuralWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.mural/MuralWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="MuralWSPortBinding" type="tns:MuralWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removerRecado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarRecado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarRecados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastrarRecado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MuralWS">
<port name="MuralWSPort" binding="tns:MuralWSPortBinding">
<soap:address location="http://localhost:8080/MuralWS/MuralWS"/>
</port>
</service>
</definitions>